<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
            xmlns:android   = "http://schemas.android.com/apk/res/android"
        id        = "com.architecgraphic.vieloft"
        versionCode="12" 
        version   = "1.0.7">
        
    <name>VIELOFT</name>
    
    <description>
        360 virtual tour of VIELOFT, Next Level SOHO at Ciputra World Surabaya. Designed and created by Architec Graphic Boutique.
    </description>


    <author href="https://architecgraphic.com" email="architecb33@yahoo.com">
        architec graphic boutique
    </author>
    
	<preference name="phonegap-version" value="cli-6.0.0"/>
    <preference name="permissions"                value="none"/>
    <preference name="orientation"                value="landscape" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="webviewbounce"              value="false" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->

<icon src="apple-touch-icon-152x152-precomposed.png" gap:platform="ios" width="152" height="152"/> 
<icon src="apple-touch-icon-120x120-precomposed.png" gap:platform="ios" width="120" height="120"/> 
<icon src="apple-touch-icon-76x76-precomposed.png" gap:platform="ios" width="76" height="76"/> 
<icon src="apple-touch-icon-72x72-precomposed.png" gap:platform="ios" width="72" height="72"/> 
<icon src="apple-touch-icon-57x57-precomposed.png" gap:platform="ios" width="57" height="57"/> 
<icon src="icon.png"/>

<!-- iPhone and iPod touch -->
<gap:splash src="Default.png" gap:platform="ios" width="320" height="480" />
<gap:splash src="Default@2x.png" gap:platform="ios" width="640" height="960" />

<!-- iPhone 5 / iPod Touch (5th Generation) -->
<gap:splash src="Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />

<!-- iPhone 6 -->
<gap:splash src="Default-667h@2x.png" gap:platform="ios" width="750" height="1334" />
<gap:splash src="Default-Portrait-736h@3x.png" gap:platform="ios" width="1242" height="2208" />
<gap:splash src="Default-Landscape-736h@3x.png" gap:platform="ios" width="2208" height="1242" />

<!-- iPad -->
<gap:splash src="Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
<gap:splash src="Default-Landscape.png" gap:platform="ios" width="1024" height="768" />

<!-- Retina iPad -->
<gap:splash src="Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />
<gap:splash src="Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1536" />





    
</widget>
